@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
	--iconSize: 20px;
}

* {
	box-sizing: border-box;
}
* > a {
	font-size: 0;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: #282c34;
	color: white;
	margin: 0;
}
.button {
	font-family: "Raleway", sans-serif;
	background-color: hwb(305 4% 26%);
	color: white;
	margin: 0;
}
h1,
h2 {
	color: goldenrod;
}
h3 {
	margin-top: 0px;
}

.page {
	padding-top: 70px;
}

.links {
	text-decoration: none;
}

.login_area > .links {
	padding: 15px;
	color: white;
	font-size: 30px;
	background: linear-gradient(90deg, #000000, goldenrod, #000000);
	border-radius: 15px;
	max-width: fit-content;
	margin-bottom: 20px;
}

.links:hover {
	color: black;
}

div.login_area {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

video {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	filter: blur(3px);
}

.fade_transition {
	animation: fade-in 1.5s ease-in forwards;
}

#email-container {
	margin-top: 50px;
	opacity: 0;
	display: none;
	transition: all 1s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (min-aspect-ratio: 16/9) {
	video {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	video {
		width: auto;
		height: 100%;
	}
}

.typing-effect {
	display: inline-block;
	overflow: hidden;
	border-right: 2px solid #000;
	white-space: nowrap;
	animation: typing 3s steps(20) infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

#confirmation_btn,
.confirm_meeting {
	font-family: "Raleway", sans-serif;
	border-radius: 5px;
	padding: 10px;
	background-color: transparent;
	color: goldenrod;
	border: goldenrod 2px solid;
	font-size: 20px;
	font-weight: bold;
	margin: 15px 0;
}
.confirm_meeting {
	opacity: 0.3;
}
.confirm_meeting.active {
	opacity: 1;
}
#confirmation_btn:hover,
.confirm_meeting.active:hover {
	cursor: pointer;
	color: black;
	background-color: goldenrod;
}

#signUp-signIn {
	font-family: "Raleway", sans-serif;
	background-color: transparent;
	color: goldenrod;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
}

input {
	border: rgb(255, 187, 14) 2px solid;
	font-size: 30px;
	font-weight: bold;
	background-color: rgb(218, 208, 186);
	border-radius: 3px;
	outline-style: none;
}
input.input_margin {
	margin: 10px 0 40px 0;
}
.profile_info > input {
	font-size: 25px;
}

.input_label {
	font-size: 30px;
}
.input_label > b {
	color: red;
}

#typing-element {
	margin: 0 0 100px;
}

.meetingLabel {
	font-size: small;
}

.grid-container {
	display: inline-grid;
	margin-top: 50px;
	grid-template-columns: repeat(7, 155px);
	grid-auto-rows: max-content;
	grid-gap: 2px;
	border: 4px solid goldenrod;
	border-radius: 10px;
	background-color: goldenrod;
	overflow: hidden;
	color: goldenrod;
	width: fit-content;
	margin: 100px;
	margin-top: 30px;
}

.grid-container > * {
	background-color: rgb(49, 49, 49);
}

.month {
	font-family: "open sans", sans-serif;
	grid-column: 1/8;
	font-size: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

#navigationBar {
	border-bottom: goldenrod 10px solid;
	background-color: #282c34;
	padding: 10px;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 1;
}

.right > .nav-buttons {
	padding: 8px 0;
}

.nav-buttons > span {
	font-size: 20px;
	border-radius: 5px;
	border-color: goldenrod;
	max-width: fit-content;
	border-style: solid;
	padding: 5px 5px 5px 5px;
}

.nav-buttons > i {
	font-size: 20px;
	border-radius: 5px;
	border-color: goldenrod;
	max-width: fit-content;
	border-style: solid;
	padding: 5px 5px 5px 5px;
}

.nav-buttons {
	color: white;
	text-decoration: none;
	white-space: nowrap;
	margin-right: 25px;
}

.nav-buttons > i:hover {
	background-color: goldenrod;
	cursor: pointer;
}

.nav-buttons > span:hover {
	background-color: goldenrod;
	cursor: pointer;
}

.nav-buttons > .MuiSvgIcon-root {
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 2px;
	box-sizing: unset;
}

.nav-buttons > .MuiSvgIcon-root:hover {
	border: 2px solid goldenrod;
	border-radius: 5px;
	padding: 2px;
	box-sizing: unset;
}

.flex-se {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#logged_in {
	font-size: 20px;
	color: goldenrod;
	margin-right: 20px;
}

.profile_container {
	border-radius: 5px;
	margin: 40px;
}

.numbers {
	font-size: 20px;
	font-family: "open sans", sans-serif;
}

.top_section {
	display: flex;
	justify-content: space-between;
}

.top_section > span {
	font-size: 20pt;
}

.tab_area {
	min-width: 330px;
	margin-top: 5vh;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-evenly;
	border-bottom: 2px solid goldenrod;
}

.tab {
	padding: 10px;
	border-radius: 2px 2px 0 0;
}

.tab:hover {
	background-color: rgba(218, 165, 32, 1);
	cursor: pointer;
}
.tab.active {
	background-color: rgba(218, 165, 32, 1);
}

.confirmationText {
	font-size: 14px;
	margin-top: 0px;
	color: goldenrod;
}

.user_info_label {
	color: goldenrod;
	margin: 0;
}

.profile_info {
	text-wrap: nowrap;
	font-size: 20px;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px 15px;
}

.profile_info > .user_info_label {
	text-align: end;
}

.user_information {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
}

.user_about {
	text-align: center;
}

.titles {
	text-align: center;
}

.titles > h1 {
	font-size: 40px;
}

.calender_area {
	margin-top: 20px;
	text-align: center;
}

.calendarDate {
	font-family: "open sans", sans-serif;
}

.dates {
	font-size: small;
	font-family: "open sans", sans-serif;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s;
}

.dates:hover {
	box-shadow: 0px 0px 7px 4px goldenrod;
	transform: scale(1.1);
	z-index: 2;
}

.date_info {
	padding: 3px;
}

.contact_list {
	margin: 0 40px;
	padding: 20px;
}

.meeting_item {
	padding: 20px;
	align-items: center;
	width: 100%;
	display: table;
	background-color: gray;
	border: 6px ridge goldenrod;
	border-radius: 0px;
	/* margin-top: 25px; */
	margin: 25px;
	font-family: "open sans", sans-serif;
}

.details {
	user-select: none;
	margin: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.meeting_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
}

.meeting_item_header {
	/* display: flex;
	align-items: center;
	justify-content: space-around; */
	border-radius: 10px;
	list-style: none;
	/* margin-bottom: 25px; */
	white-space: no-wrap;
	text-decoration: underline;
	font-weight: bold;
}
.meeting_header_titles {
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 3px;
	padding-right: 3px;
	text-overflow: wrap;
}

td {
	padding: 10px 30px;
}

th {
	margin-right: 10px;
}

.list_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid goldenrod;
	list-style: none;
	margin-bottom: 20px;
	white-space: no-wrap;
}

.viewShadow {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

.popUp {
	background-color: beige;
	width: fit-content;
	padding: 20px;
	position: relative;
	text-align: center;
	z-index: 6;
	border-radius: 3px;
}

.calendar_choose_time {
	margin: 10px;
	width: 130px;
}

.day {
	margin-top: -2px;
	width: 157px;
	margin-left: -2px;
}
.time {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	font-size: large;
}

.time button {
	border-radius: 2px;
	padding: 5px;
	background-color: transparent;
	color: black;
	border: goldenrod 2px solid;
	font-size: 15px;
	cursor: pointer;
	font-weight: bold;
	margin-top: 15px;
}

.time button:focus {
	background-color: #acadb0;
}

.calendarDate {
	color: #282c34;
	font-size: xx-large;
	text-align: center;
}

.MuiSvgIcon-root {
	color: goldenrod;
}

.cross {
	cursor: pointer;
	width: fit-content;
}

.grey_dates {
	background-color: rgb(119, 87, 5);
	color: black;
}

.meeting_options {
	display: flex;
	justify-content: center;
}

.dropdown {
	padding: 5px;
	border-radius: 5px;
	font-size: 12pt;
	font-family: "open sans", sans-serif;
}

.meeting_options > div > label {
	margin-right: 5px;
}

.meeting_options > div:nth-child(2),
.meeting_options > div:nth-child(3) {
	margin-left: 50px;
}

.profile_info > input {
	margin: 0;
}

.icon {
	cursor: pointer;
	padding: 15px;
	border-radius: 5px;
	border: 2px solid transparent;
	width: var(--iconSize);
	height: var(--iconSize);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.icon:hover {
	border: 2px solid goldenrod;
}

.myMeeting {
	background-color: white;
	height: 250px;
	width: 220px;
	color: #000;
	text-align: center;
}

.meeting_details {
}

.MuiTablePagination-displayedRows {
	color: white;
}

.vote {
	text-align: end;
}

.arrowBox {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	border-radius: 8px;
	border: 3px solid transparent;
}
.arrowBox:hover {
	border: 3px solid goldenrod;
}

.contacts {
	font-size: x-large;
}

.popUp > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popUp > header > * {
	display: flex;
	align-items: center;
}

.dayOverview {
	color: gray;
	padding: 40px 20px;
	font-size: 25pt;
	font-weight: bold;
}

.calender_meeting_overview {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 80vh;
	margin-top: 20px;
	padding-right: 10px;
}
.calender_meeting_overview > .meeting_item {
	border-radius: 6px;
	border: 3px solid;
	width: auto;
	border-image: linear-gradient(30deg, black, goldenrod) 1;
	margin-top: 0;
}

/* width */
.calender_meeting_overview::-webkit-scrollbar {
	width: 13px;
	border-radius: 50px;
}

/* Track */
.calender_meeting_overview::-webkit-scrollbar-track {
	background: #444444;
}

/* Handle */
.calender_meeting_overview::-webkit-scrollbar-thumb {
	background: goldenrod;
	border-radius: 50px;
}

.calender_meeting_overview::-webkit-scrollbar-track {
	margin: 0 3px;
	border-radius: 50px;
}

/* Handle on hover */
.calender_meeting_overview::-webkit-scrollbar-thumb:hover {
	background: rgb(179, 135, 24);
}

#gender_container {
	font-size: 25px;
	border: rgb(255, 187, 14) 2px solid;
	font-weight: bold;
	background-color: rgb(218, 208, 186);
	border-radius: 3px;
	outline-style: none;
}

.edit_meeting_fields {
	background: white;
	padding: 20px;
	border-radius: 20px;
	margin-top: 20px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input,
.MuiOutlinedInput-root,
.css-6od3lo-MuiChip-label {
	font-family: "open sans", sans-serif !important;
}

.delete_button:hover {
	background-color: rgb(248, 118, 118) !important;
}

.meeting_btn_area {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.edit_button {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	/* width: 70px; */
	cursor: pointer;
	border: 2px solid goldenrod;
	border-radius: 3px;
	padding: 5px 8px;
	font-family: "open sans", sans-serif;
	font-size: 12pt;
	color: rgb(255, 189, 21);
	/* background-color: rgba(0, 0, 0, 0.5); */
	background-color: transparent;
}

.edit_button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
