@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: #282c34;
    color: white;
}

h1,
h2 {
    color: goldenrod;
    font-size: 50px;
    margin-top: 50px;
}
h2 {
    font-size: 30px;
}

a {
    padding: 15px;
    color: white;
    font-size: 30px;
    background: linear-gradient(90deg, #000000, goldenrod, #000000);
    text-decoration: none;
    border-radius: 15px;
    max-width: fit-content;
    margin-bottom: 20px;
}

div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
